#  password 
# MAGKdrLLyKcFSoaD

# PORT=5000
# MONGO_URI=mongodb+srv://rammisra343_db_user:MAGKdrLLyKcFSoaD@smart-agro.6wwu5iy.mongodb.net/?appName=Smart-Agro
# JWT_SECRET=myscretkey

# Virtual environments
.venv/
venv/
env/

# Environment variables (contains sensitive API keys)
.env
Client/.env
server/.env
*.env
!.env.example

# Datasets
dataset/

# Python caches
__pycache__/
*.pyc

# Node
node_modules/
server/uploads/

# Model weights/binaries (ignored by default)
*.h5
*.weights.h5

# Allowlist: track this specific model file
!model/disease_model.h5
